FOREMAN_VERSION=3.18
FOREMAN_IMAGE=quay.io/foreman/foreman:3.18
FOREMAN_HOSTNAME=foreman.localdomain
FOREMAN_PUBLIC_URL=http://127.0.0.1:8080
FOREMAN_PORT=8080
FOREMAN_ADMIN_USER=admin
FOREMAN_ADMIN_PASSWORD=admin
FOREMAN_ADMIN_EMAIL=admin@localdomain
FOREMAN_ORGANIZATION="Default Organization"
FOREMAN_LOCATION="Default Location"
FOREMAN_PROXY_NAME=smartproxy.localdomain
FOREMAN_PROXY_URL=http://127.0.0.1:9090
PROXY_HTTP_URL=http://127.0.0.1:8081
PROXY_TFTP_SERVER=127.0.0.1
PROXY_DHCP_MODE=managed
PXE_INTERFACE=eth0
PXE_SUBNET=192.168.100.0
PXE_NETMASK=255.255.255.0
PXE_GATEWAY=192.168.100.1
PXE_DNS_SERVERS=1.1.1.1,8.8.8.8
PXE_DHCP_RANGE_START=192.168.100.100
PXE_DHCP_RANGE_END=192.168.100.199
PXE_NEXT_SERVER=192.168.100.10
PXE_BOOTFILE_BIOS=undionly.kpxe
PXE_BOOTFILE_UEFI=ipxe.efi
PXE_DOMAIN=local
MEDIA_ROOT=/opt/foreman/media
WINDOWS_11_ISO_URL=""
WINDOWS_11_LANGUAGE="English International"
PLAYWRIGHT_IMAGE=mcr.microsoft.com/playwright/python:v1.52.0-noble
PLAYWRIGHT_PYTHON_VERSION=1.52.0
FOREMAN_DB_NAME=foreman
FOREMAN_DB_USER=foreman
FOREMAN_DB_PASSWORD=foreman
UBUNTU_AUTOINSTALL_USERNAME=admin
UBUNTU_AUTOINSTALL_PASSWORD=admin
UBUNTU_AUTOINSTALL_REALNAME="Ubuntu Admin"
UBUNTU_AUTOINSTALL_HOSTNAME=ubuntu-client
UBUNTU_AUTOINSTALL_LOCALE=en_GB.UTF-8
UBUNTU_AUTOINSTALL_KEYBOARD=gb
UBUNTU_AUTOINSTALL_TIMEZONE=Etc/UTC
WINDOWS_IMAGE_NAME="Windows 11 Pro"
WINDOWS_LOCAL_ADMIN_USER=admin
WINDOWS_LOCAL_ADMIN_PASSWORD=admin
WINDOWS_COMPUTER_NAME="WIN11-%SERIAL%"
WINDOWS_LOCALE=en-GB
WINDOWS_TARGET_DISK=0
